<form [formGroup]="loginForm">
    <mat-form-field appearance="outline" class="password-input">
        <input placeholder="Password" matInput [type]="showPassword ? 'text' : 'password'" formControlName="password">
        <img src="assets/images/lock.png" matPrefix>
        <img src="assets/images/hide-password.png" matSuffix *ngIf="!showPassword" (click)="showPassword = true">
        <mat-icon class="show-password" matSuffix *ngIf="showPassword" (click)="showPassword = false">visibility</mat-icon>
    </mat-form-field>
    <div *ngIf="password?.touched">
        <mat-error *ngIf="password?.errors?.['required'] ">
            password is required 
        </mat-error>
    </div>
</form>