// ::ng-deep .password-input.mat-form-field-flex .mat-input-element {
 
// }
@import 'variables';
@import 'mixins';
.mat-form-field {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $color-primary-grey-text;
    width: 100%;
}

::ng-deep .password-input.mat-form-field-appearance-outline .mat-form-field-outline {
    border: 1px solid rgba(95, 99, 105, 0.5) !important;
    border-radius: 10px !important;
    background: $color-azure;
}