@import 'variables';
@import 'mixins';
button {
    @include row-align(center, center);
    margin-right: auto;
    color: $color-primary-blue;
    padding: 0.5rem 3rem;
    font-family: $app-font-family;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    img {
        margin-right: 3px;
    }
}
button:disabled {
    opacity: 0.5;
    color: rgba(95, 99, 105, 0.5);
    border: 1px solid rgba(95, 99, 105, 0.5);
}
.mat-button {
    background: $color-primary-white;
    border-radius: 8px;
    border: 1px solid $color-primary-blue;
    font-family: $app-english-font-family;
}