<div class="container">
    <span class="container__name">{{feedback.reviewerName}}</span>
    <span class="container__type">{{feedback.reviewerType}}</span>
    <div class="container__stars">
        <button mat-icon-button mat-accent>
            <mat-icon>
              star
            </mat-icon>
        </button>
        <button mat-icon-button mat-accent>
            <mat-icon>
              star
            </mat-icon>
        </button>
        <button mat-icon-button mat-accent>
            <mat-icon>
              star
            </mat-icon>
        </button>
        <button mat-icon-button mat-accent>
          <mat-icon>
            star
          </mat-icon>
      </button>
      <button mat-icon-button mat-accent>
        <mat-icon>
          star
        </mat-icon>
    </button>
    </div>
    <span class="container__feedback-title">{{feedback.feedbackTitle}}</span>
    <p class="container__feedback">
        {{feedback.feedbackDescription}}
    </p>
</div>