<div class="container">
    <div class="container__logo">
        <img id="blue-vector" src="assets/images/login-blue-vector.png">
        <img id="green-vector" src="assets/images/login-green-vector.png">
     </div>
     <mat-divider [vertical]="true"></mat-divider>
    <div class="container__login-form">
        <div class="container__login-form__title">
            <img src="assets/images/check-me-login-logo.png">
            <span class="text">Hello,</span>
            <span class="text bold">Login to your accont</span>
            <span class="gray-text">with Phone</span>
        </div>
        <div class="container__login-form__form">
            <login-form-component></login-form-component>
        </div>
    </div>
   
    
</div>