<div class="container">
    <img src="assets/images/booking-success-indicator.svg">
    <span id="success">You just booked!</span>
    <span id="reservation">You just booked with
        <!--DR NAME-->
        Dr. Armando</span>
    <div id="reservation-time-details">
        <calendar dayName="Tuesday" dayNumber="10" width="100px"></calendar>
        <span id="date">October 2022</span>
        <span id="time">10:00 AM - 11:00 AM</span>
    </div>
    <div class="action-wrappers">
     <check-me-button btnText="Add to your calendar" icon="assets/images/calendar-icon.svg"></check-me-button>
     <check-me-white-button btnText="Cancel appointment"></check-me-white-button>
    </div>
</div>