@import 'variables';
.custom-slider {
    width: 100%;
    ::ng-deep {
        .ngx-slider .ngx-slider-pointer {
            background-color: $color-primary-blue !important;
            width: 24px !important;
            height: 24px !important;
            top: -10px !important;
        }

        .ngx-slider-pointer:after {
            content: none !important;
        }
        .ngx-slider .ngx-slider-bar {
            height: 8px !important;
            background: rgba(48, 127, 226, 0.3)  !important;
            border-radius: 4px  !important;
        }
        .ngx-slider .ngx-slider-selection{
            background: #5061E2 !important;
            height: 8px !important;
        }
        .ngx-slider.animate .ngx-slider-bubble.ngx-slider-limit {
            display: none !important;
        }   
        .ngx-slider .ngx-slider-bar-wrapper {
            margin-top: -18px!important;
        }
        .ngx-slider .ngx-slider-bubble {
            visibility: hidden !important;
        }    
    }
}