@import 'variables';
@import 'mixins';
:host-context(.main-container[dir="rtl"]) {
    img {
        margin-left: 5px;
    }
}
button {
    @include row-align(center, center);
    margin-right: auto;
    color: $color-primary-blue;
    padding: 0.5rem 3rem;
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    border: 1px solid $color-black;
    margin-bottom: 0.75rem;
    img {
        margin-right: 5px;
    }
}
.mat-button {
    background: $color-primary-white;
    border-radius: 8px;
    color: $color-black;
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
}
.mat-button:hover {
    color: $color-primary-blue;
    border: 1px solid $color-primary-blue;
}