$color-primary-blue: #5061E2;
$color-primary-green: #B5FBCD;
$color-primary-grey-text: #5F6369;
$color-primary-light-grey-text: #9A9EA6;
$color-primary-light-grey-90: #e5e5e5;
$color-primary-royal-silver: #DDDADA;
$color-primary-white: #fff;
$color-primary-white-smoke: #F5F5F5;
$color-secondary-pink: #EEA4CE;
$color-secondary-light-violet: #B4C0FE;
$color-secondary-light-blue: #C2EBFF;
$color-secondry-light-yellow: #FDEEA2;
$color-secondary-light-orange: #FF9900;
$color-secondary-light-beige: #FFDDC5;
$color-black:#000000;
$color-guyabano: #F8F8F8;
$color-grayish-blue: #DFE3E8;
$color-green-juice: #42D742;
$color-azure: #F7F8F8;
$app-font-family: "Cairo";
$app-english-font-family: "Montserrat";