<div class="footer-container">
   <section>
      <div class="footer-container__checkme-description">
         <div class="logo" >
            <img src="assets/images/checkme-light-logo.svg">
        </div>
         <p>  الأدوية شفاء بوكس العناية بالطفل العناية بالمرأة <br>
            بالفم منتجات طبيعية مستلزمات طبية الوقاية الشخصية صحة <br> 
           العناية بالرجل العناية بالشعر العناية بالبشرة العناية <br>  
           جنسية 
         </p> 
         <div class="social-media-icons" >
            <img src="assets/images/facebook-icon.svg">
            <img src="assets/images/whatsapp-icon.svg">
            <img src="assets/images/youtube-icon.svg">
         </div> 
      </div>
      <div class="footer-container__checkme-info">
         <div>
            <span class="title">عن تشيك مي</span>
            <a class="link">عن الشركة</a>
            <a class="link">المدونة</a>
            <a class="link">الوظائف</a>
            <a class="link">أخبارنا</a>
         </div>
         <div>
               <span class="title">المساعدة</span>
               <span class="link">اتصل بنا</span>
               <span class="link">الوظائف</span>
               <span class="link">واتساب</span>
         </div> 
         <div>
               <span class="title">الأسئلة الأكثر شيوعا</span>
               <span class="link">معلومات عن حسابي</span>
               <span class="link">النتائج ومواعيد التسليم</span>
               <span class="link">الطلبات</span>
               <span class="link">طرق الدفع</span>
         </div>
      </div>
   </section>
   <div class="footer-container__copy-rights" dir="ltr">© 2022, All Rights Reserved</div>
</div>