@import 'mixins';
@import 'variables';
.mobile-app-add {
    @include column;
    gap: 1.5rem;
    align-items: center;
    font-family: $app-english-font-family;
    .title {
        color: $color-primary-blue;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        text-transform: uppercase;
    }
    .stores {
        @include column-grid(0.5rem);
    }
    .mobile-pic {
        position: relative;
        height: 25rem;
        #light-purple-img{
            position: absolute;
            z-index: -1;
            left: -15%;
            clip-path: inset(15% 0 37% 0);
        }
        #light-green-img {
            position: absolute;
            z-index: -1;
            right: -15%;
            clip-path: inset(0 0 41% 0);
        }
        #phone-img {
            clip-path: inset(0 0 41% 0);
        }
    }
    .subscriptions {
        @include column;
        align-items: center;
        .subscription-main-title {
            font-weight: 700;
            font-size: 1.5rem;
            text-align: center;
            color: $color-primary-grey-text;
            margin-bottom: 0.8rem;
        }
        .subscription-sub-title {
            width: 60%; 
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            text-align: center;
            color: $color-primary-light-grey-text;
        }
    }
    .subscription-mail-form {
        width: 60%;
    }
}