<div class="mobile-app-add">
  <span class="title">Download The app now </span>
  <div class="stores">
    <img src="assets/images/app-store.svg">
    <img src="assets/images/google-play.svg">
    <img src="assets/images/app-gallery.svg">
  </div>
  <div class="mobile-pic">
    <img src="assets/images/light-purple-image.svg" id="light-purple-img">
    <img src="assets/images/mobile-ad-group.svg" id="phone-img">
    <img src="assets/images/light-green.svg"  id="light-green-img">
  </div>
  <div class="subscriptions">
    <span class="subscription-main-title">Subscribe to our latest offers and discounts</span>
    <span class="subscription-sub-title">Be the first one to know  about discounts, offers and events weekly in your mailbox. 
        Unsubscribe whenever you like with one click.</span>
  </div>
  <div class="subscription-mail-form">
    <app-subscription-form></app-subscription-form>
  </div>

</div>