@import "variables";
@import "mixins";
.search-container {
    @include row;
    background-color: $color-primary-white-smoke;
    padding: 1rem;
    border-radius: 0.625rem;
    &__search-input {
        @include row;
        align-items: center;
        flex: 1;
        border-radius: 0.625rem;
        margin: 0 1rem;
        padding: 1.5rem;
        font-family: $app-english-font-family;
        background-color: $color-primary-white;
        .search-icon {
            color: $color-primary-blue;
            text-align: center;
        }
        input {
            flex: 1;
            height: 100%;
            align-items: center;
            font-family: $app-english-font-family;
            border: none;
            font-size: 1.25rem;
            margin-left: 1rem;
        }
        input:focus-visible {
            outline: none;
        }
    }

    &__search-action {
        padding: 1.5rem  2rem;
        cursor: pointer;
        background-color: $color-primary-blue;
        font-family: $app-english-font-family;
        border-radius: 0.625rem;
        margin-left: auto;
        text-align: center;
        align-self: center;
        #search-btn {
            color: $color-primary-white;
            font-weight: 700;
            font-size: 1.125rem;
            line-height: 20px;
        }
    }
}

